<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Warrior Gaming</title>

	<!-- Bootstrap -->
	<link href="/static/bootstrap.min.css" rel="stylesheet">
</head>
<body>

	<div class="container">
    <!-- Child Template -->
    {% block content %}
		{% endblock content %}

    <!-- Errors -->
    {% if error %}
      <p class="error"><strong>Error:</strong> {{ error }} </p>
    {% endif %}

    <!-- Messages -->
    {% for message in get_flashed_messages() %}
      <p> {{ message }} </p>
    {% endfor %}

		<footer>
			<p>&copy; Warrior Gaming - Copyright 2019</p>
		</footer>
	</div>

</body>
</html>
