{% extends "base.html" %}
{% block content %}

      <h5>Welcome to WG!</h5>
      <p>Here we curate content regarding video games and hobbies in podcast and video formats.</p>

      {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
      {% endfor %}

{% endblock content %}
